/*Use for general styling an apply to all pages*/

* {
   font-family: 'Roboto', Helvetica, sans-serif;
   box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

nav a.navbar-text:hover {
    color:white;
}

.bloat {
    height: 500px;
}

.border-radius-initial {
    border-radius: initial;
}

.vcenter {
    display: flex;
    align-content: center;
    align-items: center;
 }

 .emp-img {
     border: 1px solid lightslategray;
     object-fit: cover;
     object-position: center;
     max-width: 300px;
 }

 .margin-top {
     margin-top: 20px;
 }

 .margin-bottom {
     margin-bottom: 20px;
 }

 .slogan {
     text-transform: uppercase;
     /*border: 1px solid lightsteelblue;*/
     padding: 20px;
     margin-top: 20px;
 }

 .slogan .btn a {
     text-decoration: none;
     color:white;
 }

 form {
     margin-top: 100px;
 }

/*to make contact form extend down */
 @media (min-width: 992px) { 
    .col-md-6 {
        width: 100%;
    }
 }


 @media screen and (max-width: 767px) {
     .vcenter {
         display: inline-block;
     }
 }