/*Use for Index specific styling only - for general use case add to helpers.css*/

body {
    min-width: 690px;
    padding-top: 50px;
}
    
.jumbotron {
    background-color: lightsteelblue;
    text-align: center;
}

.bio-panel {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    height: 100%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.img {
    max-width: 70%;
    max-height: auto;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10%;
}

#video{
 position: relative;
 background: transparent;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}