* {
    box-sizing: border-box;
}

body {
    min-width: 690px;
}
    
.jumbotron {
    background-color: deepskyblue;
    text-align: center;
}

.jumbotron h1, .jumbotron h3 {
    margin-top: 100px;
}


.bio-row {
    height: 400px;
}

.bio-panel {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    height: 100%;
    text-align: center;
}
.bio-col {
    height: 100%;
}

.img {
    max-width: 70%;
    max-height: auto;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10%;
}

.bloat {
    height: 500px;
}

.footer {
    height: 70px;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
}

.footer p {
    float: left;  
    padding: 20px;
    margin: 0;
}

.footer p:last-child {
    float: right;
}

@media (max-width: 1000px) {
    .bio-row {
        max-height: 300px;
    }

    .img {
        margin-top: 5%;
    }
}